In [1]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [2]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [3]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
'만나서		반갑습니다.'

In [5]:
print("first",end='');print("second")

firstsecond

In [6]:
float("15.79")

15.79

In [7]:
삼성전자 = 50000
print('총 평가 금액:', 삼성전자*10, '원')

총 평가 금액: 500000 원

In [8]:
year = '2025'
year = int(year)
print('최근 3년의 연도:', year-2, year-1, year)

최근 3년의 연도: 2023 2024 2025

In [11]:
month_charge = 48584
total_price = 48584*36
print('총 금액:', total_price,'원')

총 금액: 1749024 원

In [ ]:
age = input('현재 나이를 입력하시오.')
print('3년 후 내 나이:',age+3,'살')