In [1]:
for n in range(3,0,-1):
    print(n)

3
2
1

In [2]:
clovers = ['클로버1', '클로버2', '클로버3']

for i in clovers:
    print(i)

클로버1
클로버2
클로버3

In [3]:
for i in range(3):
    print(clovers[i])

클로버1
클로버2
클로버3

In [4]:
cnt = 1
while cnt<4:
    cnt +=1
    print(cnt)

2
3
4

In [6]:
for i in range(3,100,3):
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [7]:
#continue 문을 이용하여 1부터 10까지의 수를 차례대로
#출력하지만 3의 배수는 출력하지 않는 프로그램을 작성하세요

for i in range(1,11):
    
    if i%3 == 0:
        continue
    
    print(i)

1
2
4
5
7
8
10

In [10]:
#1부터 입력받은 정수까지의 총합을 구하는 프로그램을
# while 문으로 작성하세요.

n = 10
sn = 0
i = 1
while i<=n:
    sn += i
    i +=1
    
    
print(sn)

55

In [13]:
#앞서 작성한 1부터 임의의 수까지의 총합을 구하는 프로그램을 
#break 문을 사용한 것으로 변경하세요

n = 10
sn, i = 0, 1

while True:    
    if i > n:
        break
    
    sn += i
    i +=1

print(sn)

55

In [ ]:
#총합을 구할 첫 번째 수와 두 번째 수를 입력받아 총합을 구하는
#프로그램을 for 문과 while 문으로 작성하세요

a, b = 10, 20

In [14]:
# 29슬라이드:   아래의 순서도대로 while 문을 사용하여 프로그램을 작성하세요.

myname = ''

while True:
    myname = input('이름을 입력하세요 ')
    
    if myname == 'hongkildong':
        break

print('확인되었습니다.')

확인되었습니다.

In [ ]:
# 30슬라이드

In [42]:
# for문을 사용하여 1단 구구단을 출력하는 프로그램을 작성해 보자.

n = 2
for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [16]:
# 슬라이드 33, 34 중복
# 이중 for문을 사용하여 1단부터 5단까지 구구단을 출력하는 프로그램을 작성해 보자

for i in range(1,6):
    
    for j in range(10):
        
        print(f'{i} * {j} = {n*i}')
        
    print()

1 * 0 = 1
1 * 1 = 1
1 * 2 = 1
1 * 3 = 1
1 * 4 = 1
1 * 5 = 1
1 * 6 = 1
1 * 7 = 1
1 * 8 = 1
1 * 9 = 1

2 * 0 = 2
2 * 1 = 2
2 * 2 = 2
2 * 3 = 2
2 * 4 = 2
2 * 5 = 2
2 * 6 = 2
2 * 7 = 2
2 * 8 = 2
2 * 9 = 2

3 * 0 = 3
3 * 1 = 3
3 * 2 = 3
3 * 3 = 3
3 * 4 = 3
3 * 5 = 3
3 * 6 = 3
3 * 7 = 3
3 * 8 = 3
3 * 9 = 3

4 * 0 = 4
4 * 1 = 4
4 * 2 = 4
4 * 3 = 4
4 * 4 = 4
4 * 5 = 4
4 * 6 = 4
4 * 7 = 4
4 * 8 = 4
4 * 9 = 4

5 * 0 = 5
5 * 1 = 5
5 * 2 = 5
5 * 3 = 5
5 * 4 = 5
5 * 5 = 5
5 * 6 = 5
5 * 7 = 5
5 * 8 = 5
5 * 9 = 5

In [30]:
# (35슬라이드)이중 for문을 사용하여 다음과 같은 출력을 만드는 프로그램을 작성 해보자.


for i in range(5):
    for j in range(1,i+2):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
A = ord('A')

for i in range(1,6):
    for j in range(A,A+i):
        print(chr(j), end=' ')
        
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
A = ord('A')

for i in range(1,6):
    for j in range(A,A+i):
        print(chr(j), end=' ')
        
    print()

In [44]:
A = ord('A')

for i in range(5):
    for j in range(i+1):
        print(chr(A+j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [37]:
# 리스트 표현식
A = ord('A')

for i in range(1, 6):
    print(' '.join([chr(A + j) for j in range(i)]))

A
A B
A B C
A B C D
A B C D E

In [38]:
# print문안에 for
A = ord('A')

for i in range(1, 6):
    print(*[chr(A + j) for j in range(i)])

A
A B
A B C
A B C D
A B C D E

---

과제

In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

2. 다음 코드를 for문으로 작성하라.
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [2]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [5]:
# 3. 다음과 같이 상품 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
# 가격리스트 = [100, 200, 300]
# 110
# 210
# 310

가격리스트 = [100, 200, 300]
for i in 가격리스트:
    print(i+10)

110
210
310

In [7]:
# 4. 리스트에는 동물이름이 문자열로 저장돼 있다.
# 리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.
# dog 3
# cat 3
# parrot 6

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [9]:
# 5. 리스트에는 네 개의 문자열이 바인딩돼 있다.
# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.
# 나
# 다
# 라

리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [10]:
''' 
6. 리스트에는 네 개의 정수가 저장돼 있다.
리스트 = [3, -20, -3, 44]
for문을 사용해서 리스트의 음수를 출력하라.
-20
-3
'''
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [11]:
''' 
7. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
2002
2006
2010
...
2042
2046
2050

'''

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [12]:
''' 
9. while문을 사용하여 1부터 100까지의 자연수를 모두 더하고 그 결과를 출력하시오.
'''
result, i = 0, 1

while i<=100:
    result += i
    i += 1
    
print(result)

5050

In [14]:
''' 
10. 1부터 30까지의 정수를 홀수와 짝수를 구분하여 출력하시오.
1 : 홀수
2 : 짝수
...
29 : 홀수
30 : 짝수

'''

for i in range(1,31):
    if i % 2 == 1:
        print(i,': 홀수')
        
    else:
        print(i,': 짝수')

1 : 홀수
2 : 짝수
3 : 홀수
4 : 짝수
5 : 홀수
6 : 짝수
7 : 홀수
8 : 짝수
9 : 홀수
10 : 짝수
11 : 홀수
12 : 짝수
13 : 홀수
14 : 짝수
15 : 홀수
16 : 짝수
17 : 홀수
18 : 짝수
19 : 홀수
20 : 짝수
21 : 홀수
22 : 짝수
23 : 홀수
24 : 짝수
25 : 홀수
26 : 짝수
27 : 홀수
28 : 짝수
29 : 홀수
30 : 짝수

In [17]:
''' 
11. 앞선 프로그램을 수정하여 홀수와 짝수를 구분하여 리스트에 저장하고 출력 하시오.
'''

odd = []
even = []


for i in range(1,31):
    if i % 2 == 1:
        odd.append(i)
        
    else:
        even.append(i)
        
print('홀수리스트 :',odd)
print('짝수리스트 :',even)

홀수리스트 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
짝수리스트 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]