In [1]:
#p95.py
for sb in (1,2,3):
    print(sb)

1
2
3

In [2]:
#p96_1.py
for sb in range(1, 4, 1):
    print(sb)

1
2
3

In [3]:
#p98_2.py
for sb in range(0, 11, 1):
    print(sb)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
#p97_1.py
for sb in range(0, 11, 1):
    print(sb, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [5]:
#p97_2.py
for sb in range(0, 11, 2):
    print(sb, end=" ")

0 2 4 6 8 10

In [6]:
#p98_1.py
for sb in range(1, 11, 1):
    if sb%2==0:
        stra="짝수이다"
    else:
        stra="홀수이다"
    print(sb,"는",stra )

1 는 홀수이다
2 는 짝수이다
3 는 홀수이다
4 는 짝수이다
5 는 홀수이다
6 는 짝수이다
7 는 홀수이다
8 는 짝수이다
9 는 홀수이다
10 는 짝수이다

In [7]:
#p99.py
for sb in range(1, 11, 1):
    if sb%2==0:
        continue
        stra="짝수이다"
    else:
        stra="홀수이다"
    print(sb,"는",stra )

1 는 홀수이다
3 는 홀수이다
5 는 홀수이다
7 는 홀수이다
9 는 홀수이다

In [9]:
#p100.py
na=int(input("멍추려는 정수값을 입력하세요"))
for sb in range(0, 100, 1):
    if sb == na:
        break
        print(sb, "는 종료값이다")
    print(sb+1, end="  ")

멍추려는 정수값을 입력하세요10
1  2  3  4  5  6  7  8  9  10

In [11]:
#p103.py
total = 0
for sb in range(1, 11,1):
    total = total + sb
print(total)

55

In [12]:
#p106.py
sb=1
while sb < 4:
    print(sb)
    sb = sb + 1

1
2
3

In [13]:
#p107_1.py
sb=0
while sb < 3:
    sb = sb + 1
    print(sb)

1
2
3

In [14]:
#p107_2.py
for sb in range(0, 5, 1):
    print(sb, end="   ")
    
print("\n\n")
for sb in range(0, 10, 2):
    print(sb, end="   ")

0   1   2   3   4


0   2   4   6   8

In [16]:
#p108_1.py
sb=0
while sb<5:
    print(sb, end="   ")
    sb=sb+1
print("\n\n")
sb=0
while sb <10:
    print(sb, end="   ")
    sb= sb + 2

0   1   2   3   4


0   2   4   6   8

In [17]:
#p108_2.py

total = 0
for sb in range(1, 11, 1):
     total=total +  sb
print("1부터", sb,"까지의 총합은", total)

1부터 10 까지의 총합은 55

In [18]:
#p108_3.py
total = 0
sb = 0
while sb < 11:
    total = total + sb
    sb = sb + 1
print("1부터", sb-1,"까지의 총합은", total)

1부터 10 까지의 총합은 55

In [19]:
#p109.py
sb = 1
while True:
    print(sb)
    sb = sb + 1
    if sb > 3:
        break

1
2
3

In [21]:
#p110.py
sb = 0
while True:
    sb = sb + 1    
    if sb > 3:
        break
    print(sb)

1
2
3

In [22]:
#p116.py
for i in range(1, 10, 1):
    print(1, "*", i, "=", 1 * i )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [23]:
#p117.py
i=1
while i < 10:
    print(1, "*", i, "=", 1 * i )
    i = i + 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [25]:
#p119_1.py
for i in range(1, 10, 1):
    print(1, "*", i, "=", 1 * i )
for i in range(1, 10, 1):
    print(2, "*", i, "=", 2 * i )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [27]:
#p119_2.py
i=1
while i < 10:
    print(1, "*", i, "=", 1 * i )
    i = i + 1
i=1
while i < 10:
    print(2, "*", i, "=", 1 * i )
    i = i + 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 1
2 * 2 = 2
2 * 3 = 3
2 * 4 = 4
2 * 5 = 5
2 * 6 = 6
2 * 7 = 7
2 * 8 = 8
2 * 9 = 9

In [30]:
#p119_3.py
for i in range(1, 10, 1):
    print(1, "*", i, "=", 1 * i )
for i in range(1, 10, 1):
    print(2, "*", i, "=", 2 * i )
for i in range(1, 10, 1):
    print(3, "*", i, "=", 3 * i )
for i in range(1, 10, 1):
    print(4, "*", i, "=", 4 * i )
for i in range(1, 10, 1):
    print(5, "*", i, "=", 5 * i )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [31]:
#p121_1.py #책에 for j i n range(1,6,1) =>for j in range(1, 6, 1) 로 수정
for j in range(1, 6, 1):
    for i in range(1, 10, 1):
        print(j, "*", i, "=", j * i )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [32]:
#p121_2.py
j=1
while j < 6:
    i=1
    while i < 10:
        print(j, "*", i, "=", j * i )
        i = i + 1
    j = j + 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [34]:
#p122.py
for i in range(1, 10, 1):
    for j in range(1, 10, 1):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81